- content_for :admin_actions do
  = link_to 'Back to Solutions', admin_triage_solutions_path, class: 'btn btn-line-light btn-sm'

= render 'shared/admin_page', page_title: 'Edit Solution', current_page: 'Edit Solution', page_subtitle: "Update solution ##{@solution.id}", breadcrumbs: [{ name: 'Triage Solutions', path: admin_triage_solutions_path }], meta: ['Support', 'Solutions'] do
  .admin-panel
    = render 'form'
