= render 'shared/admin_page', page_title: '404 Error Details', current_page: '404 Error Details', page_subtitle: 'Detailed information about this error', breadcrumbs: [{ name: '404 Error Logs', path: admin_error_logs_path }], meta: ['Errors', 'Detail'] do
  .admin-grid-main
    .admin-stack
      .admin-panel
        h3 Error Information
        .admin-dl
          .row
            span.k URL
            span.v.box= @error_log.url
          .row
            span.k Error Count
            span.v
              span.admin-badge.admin-badge--danger= @error_log.count
          .row
            span.k Last Seen
            span.v= @error_log.last_seen.strftime('%B %d, %Y at %I:%M %p')
          .row
            span.k Referrer
            span.v.box= @error_log.referrer.presence || 'Direct / Unknown'
          .row
            span.k Browser
            span.v= @error_log.browser
          .row
            span.k IP Address
            span.v= @error_log.ip.presence || 'Unknown'

      .admin-panel
        h3 User Agent Details
        .admin-dl
          .row
            span.v.box.admin-mono= @error_log.user_agent.presence || 'Unknown'

    .admin-panel
      h3 Actions
      .admin-actions
        = link_to 'Back to Error Logs', admin_error_logs_path, class: 'btn btn-line-light btn-sm'
        = link_to 'Delete', admin_error_log_path(@error_log), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-line-light btn-sm admin-danger'
