- content_for :title, "BaldrickBadge Tech Specs - Baldrick Board Documentation"

= render 'boards/shared/content_page', board_id: 'baldrickbadge', page_title: 'Technical Specifications', current_page: 'Tech Specs', page_subtitle: 'Board components and detailed specifications for BaldrickBadge', document_title: "BaldrickBadge Tech Specs - Baldrick Board Documentation" do
  .prose.max-w-none
    h2.text-3xl.font-bold.text-gray-900.mb-6 Board Components

    .bg-white.rounded-lg.shadow-md.p-6.mb-6
      = image_tag "baldrickbadge/board.png", class: "w-full rounded-lg mb-6", alt: "BaldrickBadge Board Overview"

      .text-center.py-12
        h3.text-2xl.font-semibold.text-gray-900.mb-4 Dunno
        p.text-gray-700.mb-6
          | We've got a new version of this in the pipeline, then we can talk about tech specs. Why don't you take a look at some of the boards we actually sell though!
        p.text-gray-700
          | In the meantime, check out our 
          = link_to "overview page", board_page_path('baldrickbadge', 'overview'), class: "text-blue-600 hover:text-blue-800 underline"
          |  for general information about the BaldrickBadge.
