nav.flex.mb-6 aria-label="Breadcrumb"
  ol.flex.items-center.space-x-2
    li
      = link_to "Admin", admin_root_path, class: "text-gray-500 hover:text-gray-700"
    - if defined?(breadcrumbs) && breadcrumbs.any?
      - breadcrumbs.each do |breadcrumb|
        li.flex.items-center
          svg.w-4.h-4.text-gray-400.mx-2 fill="currentColor" viewBox="0 0 20 20"
            path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"
          - if breadcrumb[:url]
            = link_to breadcrumb[:name], breadcrumb[:url], class: "text-gray-500 hover:text-gray-700"
          - else
            span.text-gray-900.font-medium = breadcrumb[:name]
