/ Footer
footer.bg-purple-900.text-white
  .max-w-6xl.mx-auto.px-4.sm:px-6.lg:px-8.py-12
    .grid.md:grid-cols-3.gap-8
      / Column 1: Our Boards
      div
        h3.text-lg.font-semibold.mb-4 Our Boards
        ul.space-y-2.text-purple-200
          li
            = link_to "Baldrick8 Docs", board_path("baldrick8"), class: "hover:text-white transition-colors"
          li
            = link_to "Baldrick17 Docs", board_path("baldrick17"), class: "hover:text-white transition-colors"
          li
            = link_to "BaldrickSwitchy Docs", board_path("baldrickswitchy"), class: "hover:text-white transition-colors"
          li
            = link_to "BaldrickDMX Docs", board_path("baldrickdmx"), class: "hover:text-white transition-colors"
          li
            = link_to "BaldrickInput1 Docs", board_path("baldrickinput1"), class: "hover:text-white transition-colors"
          li
            = link_to "BaldrickSignals Docs", board_path("baldricksignals"), class: "hover:text-white transition-colors"
      
      / Column 2: Help
      div
        h3.text-lg.font-semibold.mb-4 Help
        ul.space-y-2.text-purple-200
          li
            = link_to "Baldrick Boards Facebook Group", "https://www.facebook.com/groups/baldrickboards", target: "_blank", class: "hover:text-white transition-colors"
          li
            = link_to "Hardware Support Form", support_path, class: "hover:text-white transition-colors"
          li
            = link_to "Fun Stuff", fun_stuff_path, class: "hover:text-white transition-colors"
          li
            = link_to "FAQ", faq_path, class: "hover:text-white transition-colors"
      
      / Column 3: More
      div
        h3.text-lg.font-semibold.mb-4 More
        ul.space-y-2.text-purple-200
          li
            = link_to "About Baldrick", about_path, class: "hover:text-white transition-colors"
          li
            = link_to "Where to Buy", where_to_buy_baldrick_boards_path, class: "hover:text-white transition-colors"
          li
            = link_to "Complaints", "https://www.youtube.com/watch?v=g4IQjUpTNVU", target: "_blank", class: "hover:text-white transition-colors"
        
        / Seasonal Themes Dropdown
        .mt-6
          h4.text-sm.font-semibold.mb-2.text-purple-200 Seasonal Themes
          .relative
            select.bg-purple-800.text-white.border.border-purple-600.rounded-md.px-3.py-2.text-sm.w-full.focus:outline-none.focus:ring-2.focus:ring-purple-500.focus:border-transparent data-seasonal-themes-target="select" data-action="change->seasonal-themes#change"
              option value="default" Default Theme
              option value="christmas" Christmas
              option value="halloween" Halloween
              option value="easter" Easter
              option value="british" 4th July
  
  / Copyright
  .border-t.border-purple-800
    .max-w-6xl.mx-auto.px-4.sm:px-6.lg:px-8.py-6
      .text-center.text-purple-300
        p Copyright © 2025 www.ilightthat.com
