= render 'shared/fun_stuff_page', page_title: t('views.fun_stuff.customer_showcase.header.title'), current_page: 'Customer Showcase', page_subtitle: t('views.fun_stuff.customer_showcase.header.subtitle'), document_title: t('views.fun_stuff.customer_showcase.title'), meta: ['Photo gallery', 'Real installs', 'Submit your show'] do
  p.lead = t('views.fun_stuff.customer_showcase.content.description')

  .prose
    p
      = t('views.fun_stuff.customer_showcase.content.contact_text')
      = link_to t('views.fun_stuff.customer_showcase.content.contact_link'), new_feedback_path
      = " #{t('views.fun_stuff.customer_showcase.content.facebook_text')} "
      = link_to t('views.fun_stuff.customer_showcase.content.facebook_link'), t('facebook_group_url'), target: '_blank'
      | !

    .showcase-gallery data-controller="image-modal"
      - t('views.fun_stuff.customer_showcase.content.showcases').each do |_key, showcase|
        .showcase-card data-action="click->image-modal#openModal" data-image-src=asset_path(showcase[:image]) data-image-alt=showcase[:alt]
          .showcase-img
            img src=asset_path(showcase[:image]) alt=showcase[:alt]
          .showcase-body
            h3 = showcase[:title]
            p = showcase[:description]
            span.author = showcase[:author]

      .fixed.inset-0.bg-black.bg-opacity-75.flex.items-center.justify-center.z-50.hidden data-image-modal-target="modal" data-action="click->image-modal#closeModal"
        .relative.max-w-4xl.max-h-full.m-4
          button.showcase-modal-close data-action="click->image-modal#closeModal" type="button" aria-label="Close"
            | ×
          .showcase-modal-inner
            img data-image-modal-target="modalImage" alt=""
            p data-image-modal-target="modalCaption"

    .callout.info
      span.ic
        svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          path d="M4 16l4-4 4 4 8-8"
      div
        span.lbl = t('views.fun_stuff.customer_showcase.content.call_to_action.title')
        p.bd = t('views.fun_stuff.customer_showcase.content.call_to_action.description')

    .cta-btns style="margin-top: 24px"
      = link_to new_feedback_path, class: 'btn btn-solid' do
        = t('views.fun_stuff.customer_showcase.content.call_to_action.contact_button')
        span.ar →
      = link_to t('facebook_group_url'), target: '_blank', class: 'btn btn-line-light' do
        = t('views.fun_stuff.customer_showcase.content.call_to_action.facebook_button')
      = link_to fun_stuff_path, class: 'btn btn-line-light' do
        = t('views.fun_stuff.customer_showcase.content.call_to_action.back_button')

section.cta
  .wrap
    h2 Building something brilliant?
    p We'd love to feature your display in the gallery.
    .cta-btns
      = link_to new_feedback_path, class: 'btn btn-bone' do
        | Submit photos
        span.ar →
      = link_to fun_stuff_testimonials_path, class: 'btn btn-clear' do
        | Read testimonials
