= render 'shared/fun_stuff_page', page_title: 'Panic Mode?', current_page: 'Panic Mode?', page_subtitle: 'Should you be panicking about your holiday display?', document_title: 'Panic Mode? - Fun Stuff', meta: ['Halloween countdown', 'Christmas countdown', 'DEFCON gauges'] do
  p.lead A completely scientific assessment of how screwed you are before the show goes live. Not financial advice.

  .prose data-controller="panic-mode"
    .panic-grid
      .panic-card
        .panic-top
          svg.panic-ic viewBox="0 0 24 24" fill="currentColor"
            path d="M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm-1 5h2v6h-2V7zm0 8h2v2h-2v-2z"
          h3 Halloween
          p.sub Show starts week before Oct 31st
        #halloween-countdown.panic-days --
        p.panic-meta Days until show start
        .panic-gauge
          h4#halloween-gauge-title Everything's groovy
          .panic-track
            .seg
            .seg
            .seg
            .seg
            .seg
            #halloween-gauge-pointer.panic-pointer style="left: 10%"
          .panic-labels
            span Groovy
            span Hmm
            span Scary
            span Really Scary!
            span DOOM!!!

      .panic-card
        .panic-top
          svg.panic-ic viewBox="0 0 24 24" fill="currentColor"
            path d="M12 2l2 4h5l-4 3 2 5-5-3-5 3 2-5-4-3h5z"
          h3 Christmas
          p.sub Show starts December 1st
        #christmas-countdown.panic-days --
        p.panic-meta Days until show start
        .panic-gauge
          h4#christmas-gauge-title Everything's groovy
          .panic-track
            .seg
            .seg
            .seg
            .seg
            .seg
            #christmas-gauge-pointer.panic-pointer style="left: 10%"
          .panic-labels
            span Groovy
            span Hmm
            span Scary
            span Really Scary!
            span DOOM!!!

    h2
      span.hk
        span.bar
        span.annot Guide
      | Panic level guide

    .spec-grid
      .spec
        h4 Halloween timing
        ul
          li
            strong Groovy:
            |  More than 30 days to show start
          li
            strong Hmm:
            |  21–30 days
          li
            strong Scary:
            |  14–20 days
          li
            strong Really Scary!:
            |  7–13 days
          li
            strong DOOM!!!:
            |  Less than 7 days
      .spec
        h4 Christmas timing
        ul
          li
            strong Groovy:
            |  More than 30 days to Dec 1st
          li
            strong Hmm:
            |  21–30 days
          li
            strong Scary:
            |  14–20 days
          li
            strong Really Scary!:
            |  7–13 days
          li
            strong DOOM!!!:
            |  Less than 7 days

section.cta
  .wrap
    h2 Still in the groovy zone?
    p Crack on with the manual while you can — future you will be less panicky.
    .cta-btns
      = link_to boards_path, class: 'btn btn-bone' do
        | Board manuals
        span.ar →
      = link_to fun_stuff_release_notes_path, class: 'btn btn-clear' do
        | Release notes
