- current_page = local_assigns.fetch(:current_page, nil)

aside.admin-panel
  .admin-panel-head
    h3 Knowledge
    = link_to '+ New', new_admin_wiki_page_path, class: 'lnk', title: 'New page'
  = link_to 'All pages', admin_wiki_pages_path, class: 'lnk', style: 'display:block;font-size:12px;margin-bottom:4px'
  = link_to 'Formatting guide', admin_knowledge_formatting_guide_path, class: 'lnk', style: 'display:block;font-size:12px;margin-bottom:12px'
  - if @wiki_nav_roots.empty?
    p.admin-empty style="padding:16px 0" No pages yet.
  - else
    = render 'nav_branch', by_parent: @wiki_nav_by_parent, parent_id: nil, current_page: current_page
