= render 'shared/admin_page', page_title: 'Triage Cases', current_page: 'Triage Cases', page_subtitle: 'Review and manage support triage cases', meta: ['Support', 'Cases'] do
  .admin-stats
    .admin-stat
      .n= @total_cases
      .l Total Cases
    .admin-stat
      .n.accent= @open_cases
      .l Open
    .admin-stat
      .n.ok= @solved_cases
      .l Solved
    .admin-stat
      .n= @closed_cases
      .l Closed
    .admin-stat
      .n.warn= @new_cases_today
      .l New Today
    .admin-stat
      .n.danger= @spam_cases
      .l Spam

  .admin-panel
    = form_with url: admin_triage_cases_path, method: :get, local: true, class: 'admin-filters' do |form|
      .field
        = form.label :status, 'Status', class: 'admin-field-label'
        = form.select :status, options_for_select([['All Status', ''], ['Open', 'open'], ['Solved', 'solved'], ['Closed', 'closed']], params[:status]), {}, class: 'admin-input'
      .field
        = form.label :spam, 'Spam', class: 'admin-field-label'
        = form.select :spam, options_for_select([['All Cases', ''], ['Not Spam', 'false'], ['Spam Only', 'true']], params[:spam]), {}, class: 'admin-input'
      .admin-filter-actions
        = form.submit 'Filter', class: 'btn btn-solid btn-sm'
        = link_to 'Clear', admin_triage_cases_path, class: 'btn btn-line-light btn-sm'

  .admin-panel
    .admin-table-wrap
      table.admin-table
        thead
          tr
            th Case #
            th Name
            th Email
            th Status
            th Boards
            th Created
            th Actions
        tbody
          - @cases.each do |case_record|
            tr class=('is-spam' if case_record.spam?)
              td
                = link_to "##{case_record.case_number}", admin_triage_case_path(case_record.id)
                - if case_record.spam?
                  span.admin-badge.admin-badge--spam SPAM
              td= case_record.name
              td= case_record.email
              td
                - status_badge = case case_record.status when 'open' then 'admin-badge--open' when 'solved' then 'admin-badge--solved' else 'admin-badge--closed' end
                span.admin-badge class=status_badge = case_record.status.titleize
              td= case_record.affected_boards.join(', ')
              td= case_record.created_at.strftime('%m/%d/%Y')
              td.actions
                = link_to 'View', admin_triage_case_path(case_record.id)
                = link_to 'Delete', admin_triage_case_path(case_record.id), method: :delete, data: { confirm: 'Are you sure you want to delete this case?' }, class: 'lnk admin-danger'
